extends layout/layout

block content
    div.container
        div.row.auth-div
            div.panel.panel-default.auth-panel
                div.panel-body
                    form.auth-form(method='POST' action='/auth')
                        div.form-group
                            label.auth-label(for='login') Login:
                                 input#login.form-control(type='text', placeholder='Input Login', name='login')
                        div.form-group
                            label.auth-label(for='password') Password:
                                input#password.form-control(type='password', placeholder='Input Password', name='password')
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Sign In