@font-face {
	font-family: 'Spiderman-Homecoming';
	src: url('../fonts/Spiderman-Homecoming.otf');
}

body {
	margin: 90px 0 0;
	padding: 0;
}
.form-control {
	background-color: #f5f5f5;
}
a:focus,
button:focus {
	outline: none !important;
}

/* LOGIN */
.login {
	margin-top: 75px;
}
.login .logo {
	margin: 0 0 25px;
	text-transform: uppercase;
    font-family: Spiderman-Homecoming, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}
.login .logo span {
	margin-right: 15px;
}
.login form {
	border-top: 1px solid #ddd;
	padding-top: 20px;

}
.login input {
	background-color: #f5f5f5;
}
.login input:focus,
.login button:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    outline: none;
}
.login .alert {
	margin: 20px 0 0;
}
.login button:last-child {
	background-color: #777;
    border-color: #666;
	transition: 0.3s;
	color: #fff;
}
.login button:last-child:hover,
.login button:last-child:focus {
	background-color: #333;
    border-color: #222;
}

/* LAYOUT */
.white_block {
    background-color: #fff;
}
.navbar {
	background-color: #666;
	border: 1px solid #333;
    margin: 0 auto;
}
.navbar .name {
	float: right;
}
.navbar > .active > a,
.navbar > .active > a:hover,
.navbar > .active > a:focus {
	background-color: #333;
	color: #fff;
}
.navbar > li > a:hover {
	color: #fff;
	background-color: #333 !important;
}
.nav {
	padding: 0;
	font-size: 15px;
	margin: 19px 0;
}
.nav > li > a {
	color: #fff;
	transition: 0.3s;
	border-right: 1px solid #666;
}
.nav > li > .last {
	border-right: none;
}
.nav > li > a:focus {
	background-color: #666;
}
.nav > .name > a {
	color: #fff;
}
.nav > .name > a:hover {
	color: #fff;
	background-color: #666 !important;
}
.alert {
	position: relative;
	width: 100%;
	padding: 10px 15px;
}
.alert button {
	position: absolute;
	top: 5px;
	right: 10px;
	background: transparent;
	border: none;
	color: #aaa;
	padding: 0;
	transition: 0.3s;
}
.alert button:hover {
	color: #000;
}

/* MODAL WINDOWS */
.create .width,
.update .width,
.delete .width {
	width: 49%;
	margin-top: 25px;
}
.info_form .panel {
	margin: 0;
}

@media (min-width: 768px) {
	.create_form,
	.update_form,
	.info_form{
		margin-top: 75px;
	}
	.info_form .panel {
		border: 1px solid #ccc;
	}
	.delete_form {
		margin-top: 150px;
		width: 450px;
	}
	.create_task,
	.update_task {
		margin-top: 75px;
		width: 1000px;
	}
}

/* ADMIN  MODERATOR  CUSTOMER  STOREKEEPER  EXECUTOR */
.panel {
	border: none;
	box-shadow: none;
}
.panel div.dataTables_wrapper div.dataTables_filter input {
	font-size: 14px;
	width: 200px;
}
table.dataTable {
	border: 1px solid #ccc;
	border-radius: 3px;
}
.table {
	table-layout: fixed;
}
.table td,
.table th {
	word-wrap: break-word;
}
thead {
	background-color: #ddd;
	border-bottom: none;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
	vertical-align: middle;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.table tr td:last-child,
.table tr th:last-child {
	border-right: none;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ccc;
}
.table tbody tr:nth-child(2n) {
	background-color: #f5f5f5;
}
.table .tittle {
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	padding-left: 15px;
	background-color: #ddd;
}
.table .tac {
	text-align: center;
}
.table .tar {
	text-align: right;
}
.table .sm {
	width: 30px;
}
.table .md {
	width: 80px;
}
.table .lg {
	width: 100px;
}
.table .pr {
	padding-right: 30px;
}
.table .vat {
	vertical-align: top;
}
.table .buffer {
	background-color: #fff;
	border-left: none;
	border-right: none;
	border-top: 1px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	height: 30px;
}
.table .result {
	background-color: #ddd;
}

/* USER */
.role5 .name {
	background-color: #333;
	float: left;
}
.role5 .panel {
	margin-top: 5px;
	border: 1px solid #ccc;
}
.role5 table.dataTable {
	margin: 0 !important;
	border-radius: 0 !important;
	border: none !important;
}

/* CREATE REQUEST */
.create_request .panel {
	border: 1px solid #ccc;
}
.create_request .table .add_task {
	width: 175px;
	margin: 15px 0;
}
.create_request #step {
	display: none;
}
.create_request .errorsCreateRequestBlock {
	display: none;
}
.create_request p {
	margin: 0;
}

/* REQUESTS */
.requests .task_table {
	margin: 0;
}
.requests .task_table th {
	border-top: none;
	background-color: #eee;
}
.requests p {
	margin: 0;
}
.requests .table tbody tr:nth-child(2n) {
    background-color: #fff;
}
.requests .task_table .btn {
	padding: 5px;
}
.requests .task_table .glyphicon-pencil {
	color: rgba(51, 51, 51, 0.75);
	cursor: pointer;
}
.requests .task_table .glyphicon-pencil:hover {
	color: rgba(51, 51, 51, 1);
	cursor: pointer;
}
.requests .task_table .glyphicon-remove {
	color: rgba(217, 83, 79, 0.75);
	cursor: pointer;
}
.requests .task_table .glyphicon-remove:hover {
	color: rgba(217, 83, 79, 1);
	cursor: pointer;
}