body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #E9EBEE;
}

a {
    color: #00B7FF;
}

/* Main Page */
.auth-div {
    margin: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.auth-panel,
.auth-form,
.auth-label {
    width: 100%;
}

/* Admin Index*/

.panel-admin-header {
    display: flex;
    margin: 15px;
    border: 1px solid black;
}

.panel-admin-title {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.panel-admin-logout {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    background-color: red;
}

.admin-title {
    font-weight: bold;
    font-size: 2rem;
}

.panel-admin {
    margin-right: auto;
    margin-left: auto;
}

.admin-menu-ul {
    padding: 0;
}

.admin-menu-item {
    display: inline-block;
    width: 100px;
}

.admin-menu-item:not(first-child) {
    margin-left: 10px;
}

.admin-menu-item a, .admin-menu-item a:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

/* Add User*/

.add-user {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.add-user-panel,
.add-user-form,
.add-user-label {
    width: 100%;
}

/* ALL USERS*/
.admin-all-users {
    margin: 0 5% 0 5%;
}

