@media print {
    body.noprint {
        margin-top: 0;
        display: block;
    }

    .noprint {
        display: none;
    }

    .noprint .modal-header {
        border-bottom: none;
    }

    .section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}