extends index

block append content
    div.container
        div.row.admin-all-users
            table#example.table.table-bordered.display(width="100%",cellspacing="0")
                thead
                    tr
                        th ID
                        th Nickname
                        th Role
                        th Update
                        th Delete
                tbody
                each val in data
                 if (val.id_users !== 1)
                    tr(id='user_'+val.id_users)
                        td=val.id_users
                        td=val.name
                        td=val.name_type_user
                        td
                           a(href='/admin/update-user/'+val.id_users)
                                button.btn.btn-warning(type="submit") Update
                        td
                            form(method='POST', action='/admin/delete-user/'+val.id_users)
                                input(type="hidden", name="method",value="DELETE")
                                button.btn.btn-danger(type="submit") Delete
                    </tr>
    script.
        $(function(){
            $("#example").dataTable();
          })

