extends ../../layout/layout

block content
    div.panel-admin
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href="/admin") Admin
                div
                    ul.nav.navbar-nav
                        li
                            a(href='/admin/all-users') Users
                        li
                            a(href='/admin/create-user') Create user
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/logout') Logout